/* My style */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

input {
    font-weight: normal;
}

dd, label {
    margin: 0px;
}

img {
    width: 100%;
}

strong {
    font-weight: 600;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

@font-face {
    font-family: Glyphicons Halflings;
    src: url(/backend/font/glyphicons-halflings-regular.woff);
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-header.navbar .nav-item .nav-link {
    line-height: 55px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 15px;
}

.app-header.navbar .dropdown-menu {
    padding-bottom: 0;
    line-height: 1.5;
    width: 100%;
    border-radius: 0;
}
 
.app-header.navbar .dropdown-menu .dropdown-item.first:after {
    left: auto;
    right: 11px;
    border-bottom-color: #ffffff !important;
    position: absolute;
    top: -6.5px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.app-header.navbar .dropdown-menu .dropdown-item {
    min-width: initial;
}

.app-header.navbar .dropdown-menu .dropdown-item .active {
    background: #08aba7;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

.form-control:disabled, .form-control[readonly] {
    background: #eee;
}

.fa {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto; 
    -webkit-font-smoothing: antialiased;
}

.fa-6 {
    font-size: 20em;
}

.fa-5 {
    font-size: 12em;
}

.fa-4 {
    font-size: 7em;
}

.fa-3 {
    font-size: 4em;
}

.fa-2 {
    font-size: 2em;
}

.padding-10 {
    padding: 10px;
}

.border-none {
    border: 0;
}

.hidden {
    display: none;
}

.txt-small {
    font-size: 13px;
    padding: 15px;
}

.txt-14 {
    font-size: 14px;
    line-height: 14px;
}

.no-padding {
    padding: 0;
}

.none-radius {
    border-radius: 0;
}

.percent-5 {
    width: 5%;
    text-align: center;
}

.table-bordered thead th, .table-bordered thead td {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    border-bottom-width: 1px;
}

.table td, .table th {
    line-height: 25px;
}

.header-fixed .app-header {
    padding-right: 15px;
    background: #293142;
    border-radius: 0;
}

.img-circles {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.checkbox-login {
    font-size: 13px;
}

.pagination {
    display: block;
}

.pagination.total-item a, .pagination.total-item a:hover, .pagination.total-item a:focus {
    cursor: context-menu;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: normal;
}

.pgn-rw-none {
    text-align: center;
    padding: 10px 0;
}

li.disabled {
    display: none;
}

.pagination > li > a {
    color: #000;
}

.pagination > li > a.active {
    background: #20a8d8;
    color: #fff;
}

.sk-bounce div {
    background-color: #3c8dbc!important;
}

.group-search {
    float: left;
    display: block;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

.group-search .form-control {
    width: 250px;
    margin-right: 10px;
    border-radius: 3px;
}

.btn-search {
    display: inherit;
    margin-right: 10px;
}

.frm-search {
    display: -webkit-box;
    float: left;
}

.frm-search label {
    line-height: 35px;
    margin: 0 10px;
}

.frm-search label:first-child {
    margin-left: 0;
}

.fixed-search {
    position: absolute;
}
.fixed-search .fa-search {
    margin-top: 12px;
    margin-left: 10px;
}

.group-btn {
    margin-left: 20px;
    float: right;
}

.group-btn .btn {
    margin-left: 10px;
}


.modal {
    background: rgba(0, 0, 0, 0.3);
}

.modal-backdrop {
    background: #000;
}

.modal-sm {
    width: 300px!important;
}

.modal-header .close {
    line-height: 36px;
    display: inline-block;
}

.modal-title {
    text-align: center;
}

.modal.fade .modal-dialog {
    margin:auto;
    width: 600px;
    top: 50px;
}

.modal-sm {
    top: 150px;
    margin: auto;
}

.modal-lg {
    margin: 30px;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.custom-notify {
    background-color: #fff!important;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: auto;
    min-width: 250px;
    padding: 10px 30px 10px 10px;
    color: #000!important;
}

.glyphicon.glyphicon-info-sign {
    color: #3d8dbc;
}

.nav-item .nav-link {
    padding-left: 10px;
}

.nav-dropdown-items .nav-item .nav-link {
    padding-left: 20px;
}

/**
 * Upload file
 */
.drag-and-drop{
    margin: 20px 0;
    font-size: 13px;
    line-height: 16px;
    background-color: #f1f1f1;
    border: 4px dashed #b4b9be;
    text-align: center;
    height: 200px;
    cursor: pointer;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    transition: all linear 0.2s;
}
.drag-and-drop:hover{
    border: 4px dashed rgba(134, 134, 134, 0.74)!important;
    transition: all linear 0.2s;
}
.drag-and-drop h3{
    vertical-align: middle;
    display: table-cell;
    color: #000;
}
.drag-and-drop h3:hover{
    opacity: 0.3;
}
.file-note{
    padding-bottom: inherit;
    position: relative;
}
.file-note .file-item {
    position: relative;
    height: inherit;
    margin-top: 0px;
    width: 174px;
    padding: 15px;
}
.file-note .file-item a {
    text-decoration: none;
    width: 100%;
    word-wrap: break-word;
}
.file-note .file-item a .fa-times-circle-o{
    position:  absolute;
    display: none;
    font-size: 10px!important;
    top: 2px;
    left: 5px;
    background-color: #fff;
    border-radius: 100px;
    z-index: 10;
}
.file-note .file-item:hover .fa-times-circle-o {
    display: block;
}
.file-note .file-item:hover .info-file {
    color: #649bd7;
    opacity: 0.5;
}
.file-note i:before {
    font-size: 18px;
}
.file-note .file-item a i:before {
    color: #333;
    font-size: 35px;
}
.info-f-f p {
    margin-bottom: 0;
    color:#333;
    font-weight: normal;
    font-size: 13px;
}
.file-note .wrap-progress {
    height: 25px;
}
.file-note .progress {
    height: 5px !important;
    margin-bottom: 0;
    text-align: center;
    background: #ddd;
}
.progress .progress-bar {
    text-align: center;
    border-radius: 0 0 0 0;
    background: #5AB5DC;
}

.padding-none{
    padding:0px;
}

.file-upload {
    float: left;
    width: 60px;
}

.text-file {
    float: left; 
    padding-left: 15px;
}

.text-red {
    color: red;
}

.group-view {
    display: inline;
    margin-left: 20px;
}

.group-view .btn {
    margin-left: 5px;
}

.grid-view-media {
    padding: 10px;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-in-out;
}

/*.grid-view-media img {
    width: initial;
}*/

.grid-view-media a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    background: #eee;
}

.grid-view-media a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.grid-view-media a.active {
    border: 4px solid  #21a7d7;
}

.btn-check-file {
    background-color: #0073aa;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 1px #0073aa;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #0073aa;
    border: none;
    border-radius: 0;
    z-index: 9999;
    position: absolute;
    color: #fff;
    display: none;
}

.btn-check-file.active {
    display: block;
    float: right;
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: #0073aa;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
}

.thumbnail {
    display: block;
    line-height: 1.42857143;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    padding: 11px;
    cursor: pointer;
}

.txt-file-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 0;
    overflow: hidden;
    max-height: 100%;
    word-wrap: break-word;
    text-align: center;
    color: #000;
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
}

.show-file img {
    width: inherit;
}

#modal-title-file .modal-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-align: left;
    font-weight: 600;
}

#modal-title-file {
    padding: 10px;
    text-align: left;
}

.right-detail {
    background: #f3f3f3;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, transparent 5%, transparent 100%);
}

/**
 * Select level
 */
.wrap-label.select-level {
    position: relative;
}
.wrap-label.select-level .text-show-action {
    width: 100%;
    display: block;
    min-height: 34px;
    background-color: #fafafa;
    background-image: none;
    border: 1px solid #c8c7cc;
    border-radius: 0 0 0 0 !important;
    color: black;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px;
    transition-duration: 0.1s;
    box-shadow: none !important;
    -khtml-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    text-align: left;
}
.select-menu-list {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)!important;
    margin: 0px;
    list-style: none;
    background: #fff;
    border: 1px solid #efefef;
}
.select-menu-parrent {
    padding: 10px;
    margin: 0px;
}
.select-menu-parrent li {
    padding: 0 5px;
    line-height: 30px;
}
.select-menu-parrent li a {
    color: #000;
    display: block;
    padding-left: 10px;
}
.select-menu-parrent li a:hover {
    background: #21a7d7;
    color: #fff!important;
}
.select-menu-parrent li .fa {
    width: 15px;
}
.select-menu-parrent li .fa-folder, .select-menu-parrent li .fa-folder-open {
    color: #00AFF0;
}
.select-menu-parrent li ul {
    padding-left: 15px;
}
.select-level .fa.pull-right {
    line-height: 20px;
}
.show-sub-select.active {
    background: #21a7d7;
    color: #fff!important;
}
/*end*/

.right-sidebar {
    background: #f1f1f1;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, transparent 5%, transparent 100%);
    margin-top: -20px;
}

.right-sidebar label {
    padding-bottom: 15px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.create-post-body {
    padding: 0;
}

.create-post-body .row {
    width: 100%;
    padding: 0;
    margin: 0;
}

#frm-create-post {
    padding-top: 20px;
}

.category-show, .tag-show, .img-feature {
    padding: 20px 5px;
    border-bottom: 1px solid #dad9d9;
}

.category-item {
    line-height: 24px!important;
    font-size: 14px;
}

.check-box-cat {
    font-size: 16px;
}

.select-cat {
    border: 1px solid #ddd;
    background-color: #fdfdfd;
    max-height: 250px;
    overflow: scroll;
}

.grp-btn {
    display: block;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 100%;
}

.lst-btn {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 10px 10px 10px;
    width: 100%;
    text-align: right;
}

.image-feature img {
    width: inherit;
    max-width: 200px;
}

.label.label-primary {
    width: 100%;
    text-align: left;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
}

.list-permissions {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: scroll;
    margin-top: 10px;
    border: 1px solid #dedede;
    padding: 10px;
}

.list-status {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid #dedede;
    padding: 10px;
}

.list-status label {
    margin-right: 15px;
}

angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}
/* --- Tree --- */

.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

tr.angular-ui-tree-empty {
  height: 100px
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}

.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
}

.nodrop {
  background-color: #f2dede;
}

.tree-node-content {
  margin: 10px;
}

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-handle:hover {}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.angular-ui-tree-handle {
    padding: 5px 10px;
    background: #fafafa!important;
    margin: 10px;
    border: 1px solid #dae2ea;
    line-height: 36px;
    font-weight: 400;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    cursor: pointer;
}

label.css-label:before {
    padding-right: 5px!important;
}

.lite-green-check {
    background-image: url(../images/lite-green-check.png);
}

.lite-blue-check {
    background-image: url(../images/lite-blue-check.png);
}

input[type=radio].with-font {
    display: none;
}
    
input[type=radio].with-font + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    font-size: 1.2em;
    color: #535353;
}
input[type=radio].with-font:checked + label:before {
    content: "\f00c";
    font-size: 1.2em;
    color: darkgreen;
}
input[type=radio].with-font:focus + label:before {
    font-weight: bold;
    color:orange;
}

body#tinymce img {
    width: 100%;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    text-decoration: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.content-preview {
    margin: 0 0 10px;
    padding: 15px;
    border-bottom: 1px hidden #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.seo-slug {
    color: #006621;
}

.seo-descripton {
    font-size: 13px;
    line-height: 1.4;
    color: #777;
}

ul.error-list {
    padding: 15px;
    list-style: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}

ul.error-list li.err:before {
    color: #FF0000;
    content: "\f057";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

ul.error-list li.suc:before {
    color: #21b38c;
    content: "\f058";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

#full-span-score {
    font-size: 48px;
    color: #0012d2;
}

#full-span-score img {
    display: none;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

#full-span-score {
    font-size: 48px;
    color: #0012d2;
}

#evaluate {
    border-bottom: 1px hidden #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    padding: 20px;
}

.img-seo-fb {
    max-width: 250px;
}

#leftGroup {
    padding-left: 0px;
}

.panel.panel-primary .panel-heading {
    padding: 10px 10px 11px 14px;
    line-height: 21px;
    background: #f5f5f5;
    font-weight: 600;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.panel.panel-primary .panel-heading .fa {
    line-height: 22px;
}

.panel.panel-primary:last-child .panel-heading {
    border-bottom: 1px solid #dddddd;
}

.panel.panel-primary .panel-heading a {
    color: #23282d;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.panel.panel-primary .panel-body {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.panel.panel-primary:last-child .panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
    border-top: none;
}

.group-data {
    padding: 10px 10px 0 10px;
    /*border-bottom: 1px solid #ddd;*/
}

.show-lst-menu {
    border: 1px solid #ddd;
    padding: 0px;
}

.list-tree {
    border: 1px solid #c2cfd6;
    max-height: 150px;
    overflow: scroll;
    padding-left: 15px;
}

.list-tree-child {
    padding-left: 20px;
}

.item-menu-left {
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
}

.item-menu-left:last-child {
    border-bottom: 0;
}

.item-menu-left:hover {
    background: #eff2f4;
    cursor: pointer;
}

.item-menu-left.active {
    background: #f1f8fd;
}

#loginForm input {
    width: 100%;
}

.tagchecklist {
    margin-left: 14px;
    font-size: 12px;
    overflow: auto;
}
.tagchecklist>span {
    float: left;
    margin-right: 25px;
    font-size: 13px;
    line-height: 1.8em;
    cursor: default;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tagchecklist .ntdelbutton {
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 0 0 -19px;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    text-indent: 0;
}
.tagchecklist .ntdelbutton .remove-tag-icon:before {
    margin-left: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #0073aa;
    line-height: 20px;
}
.remove-tag-icon:before {
    background: 0 0;
    color: #72777c;
    content: "\f057";
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.list-tags {
    padding: 15px 0 0 0;
}

.facebook-pre {
    margin: 0 0 10px;
    padding: 11px 0;
    border-bottom: 1px hidden #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-family: Helvetica, Arial, sans-serif;
}
.facebook-title {
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
}
.facebook-descripton {
    padding: 0 10px;
    color: #b4b6b8
}
.facebook-slug {
    color: #a1a5ac;
    font-size: 12px;
    padding: 5px 10px;
    text-transform: uppercase;
}

#views {
    margin: 5px 0 20px 0;
}

.thumbnail-theme {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    background: 0 0;
    text-align: center;
}
.img-thumbnail-wrap {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption h4 {
    padding: 0 5px;
}
.caption p {
    margin-bottom: 5px;
    padding: 0 5px;
}
.btn-active {
    margin: 20px 0 20px 7px;
}
#x-btn {
    line-height: 30px;
    padding: 0 10px;
}

/*Dashboard*/
#world-map {
    height: 300px;
    width: 100%;
    background: #3c8dbc!important;
    color: #fff;
}
#stats-chart .morris-hover.morris-default-style {
    border: none;
    font-size: 13px;
}
.info-box {
    display: block;
    min-height: 50px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    margin-bottom: 15px;
}

.bg-yellow-casablanca {
    background: #f2784b!important;
}
.bg-blue {
    background: #3598dc!important;
}
.bg-green-haze {
    background: #44b6ae!important;
}
.bg-yellow {
    background: #c49f47!important;
}
.bg-purple {
    background: #8e44ad!important;
}
.bg-yellow-crusta {
    background: #f3c200!important;
}
.bg-red {
    background-color: #dd4b39!important;
}
.info-box-icon {
    font-size: 18px;
    height: 53px;
    width: 50px;
    line-height: 50px;
    color: #fff;
    display: block;
    float: left;
    text-align: center;
    background-color: #d2d6de;
}
.info-box-content {
    padding: 4px 10px;
    margin-left: 50px;
}
.info-box-text {
    font-size: 13px;
}
.info-box-number {
    display: block;
    font-weight: 700;
    font-size: 18px;
}
.icon-traffic-cone:before {
    content: "\EB71";
}

.icon:before {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: entypo;
    speak: none;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.box-href, .info-box-icon i {
    color: rgba(255,255,255,.8)!important;
}
.fi:before, .icon:before {
    font-variant: normal;
    -moz-osx-font-smoothing: grayscale;
}
.box-href:hover, .info-box-icon i:hover, .info-box:hover .info-box-icon i {
    color: #fff!important;
}
.info-box:hover i {
    color: #3c8dbc;
}
.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 10px 0;
}

.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}

.portlet.portlet-no-padding {
    padding: 0;
    overflow: hidden;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.bordered {
    border-left: 2px solid #e6e9ec!important;
}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
}
.portlet {
    background: #fff;
}
.dashboard-stat .more, .dashboard-stat2 .display:after, .dashboard-stat2 .progress-info, .dashboard-stat:after, .portlet, .portlet>.portlet-body, .portlet>.portlet-title:after {
    clear: both;
}


.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5;
}
.portlet.portlet-no-padding .portlet-title {
    margin-bottom: 0;
    min-height: 40px;
    padding-left: 11px;
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px;
}
.portlet.bordered>.portlet-title {
    border-bottom: 0;
}
.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
}
#list_widgets .scroll-table {
    min-height: 370px;
}

#list_widgets .scroll-table {
    padding: 0;
}
.portlet.portlet-no-padding .portlet-body {
    padding: 0;
}
/*.portlet.light .portlet-body {
    padding-top: 8px;
}*/
.dashboard-stat .more, .dashboard-stat2 .display:after, .dashboard-stat2 .progress-info, .dashboard-stat:after, .portlet, .portlet>.portlet-body, .portlet>.portlet-title:after {
    clear: both;
}
.portlet-body {
    padding: 15px;
}
#list_widgets .scroller {
    max-height: 320px;
    padding: 0;
}
.widget_item {
    float: left;
}
.mCSB_container {
    width: auto!important;
}
.tableFloatingHeaderOriginal {
    background: #fff;
}

.tableFloatingHeaderOriginal {
    left: 0!important;
    top: 0;
}
.box-title{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    padding-left: 25px;
}

.card {
    border-radius: 0;
}

.card-header{
    padding: 20px;
    font-size: 24px;
    display: none;
}

.admin-breadcrumb {
    padding: 20px 45px 0 45px;
}

.admin-breadcrumb .col-md-10, .admin-breadcrumb ul, .admin-breadcrumb .col-md-2 {
    padding: 0;
}

.admin-breadcrumb h3 {
    font-size: 18px; 
    color: #333;
    padding: 10px 0;
    margin-bottom: 0px;
}

.admin-breadcrumb .fa-bar-chart {
    line-height: 50px; 
    color: #09aba4
}

.breadcrumb {
    border-radius: 0!important;
    border: 0!important;
    padding: 5px 15px!important;
    border-left: 5px solid #0aaba7!important;
    border-width: 0 1px;
}

.dataTables_wrapper .dataTables_filter input, .dataTables_length select {
    margin-left: 0.5em;
    font-size: 0.875rem;
    line-height: 1.25;
    height: 35px;
    color: #3e515b;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #c2cfd6;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.app-header.navbar .navbar-brand {
    background-size: 90px 40px;
    background-color: #fff;
}

.header-fixed .app-header {
    background-color: #fff;
}

.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle {
    color: #000;
}

.app-header.navbar {
    border-bottom: 1px solid #000;
}

.app-header.navbar .nav-item .nav-link {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 100;
}

.app-header.navbar, .app-header.navbar .navbar-brand {
    border-bottom: 1px solid #e5e5e5;
}

.app-header.navbar .navbar-brand {
    background-image: url(/backend/images/logo.png);
    background-size: contain;
}

.master, .breadcrumb {
    display: inline-block;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    color: rgba(0,0,0,.87);
    background: #fff;
    border: 0;
}

.breadcrumb span {
    padding: 10px 0;
}

.content-end {
    display: flex;
    justify-content: flex-end;
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-chevron-left:before {
    content: "\e079";
}


ul.fancytree-container {
    border: none;
}

#fancytree-drop-marker, 
span.fancytree-checkbox, 
span.fancytree-drag-helper-img, 
span.fancytree-empty, 
span.fancytree-expander, 
span.fancytree-icon, 
span.fancytree-vline {
    background-image: none;
}

.fancytree-has-children.fancytree-ico-cf span.fancytree-icon, 
.fancytree-ico-ef span.fancytree-icon, 
.fancytree-ico-cf span.fancytree-icon,
.fancytree-expander.fa {
    color: #2196f3;
    font-size: 17.5px;
    font-weight: bold;
}

ul.fancytree-container {
    outline: none;
}

.checkout-page .checkout-sep {
    font-size: 15px;
    text-transform: uppercase!important;
}

.checkout-page .box-border {
    margin-bottom: 15px;
}

.box-border {
    border: 1px solid #eaeaea;
    padding: 20px;
    overflow: hidden;
}

.checkout-page ul {
    padding-left: 0;
}

.type_payment .cnt {
    display: none;
    margin-top: 5px;
    float: left;
    width: 100%;
    background: #efefef;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

.checkout-page .box-border label {
    margin-top: 10px;
}

.cart_summary img {
    max-width: 100px;
}

.cart_summary td.cart_product {
    width: 120px;
    padding: 15px;
}

.cart_summary td {
    vertical-align: middle!important;
    padding: 20px;
}

.cart_summary .price {
    text-align: right;
}

.checkout-page .box-border p, .checkout-page .box-border h4 {
    padding-bottom: 5px;
    margin-top: 5px;
}

.col-md-6.has-error {
    border-color: #d9534f;
}