<div class="modal-body">
	<button aria-label="Close" data-dismiss="modal" class="close" type="button" ng-click="cancel()"><span aria-hidden="true">×</span></button>
    <div class="innerAll">
        <div class="innerLR">
        	{{transConfirmClone}}
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i> {{transCancel}}</button>
	<button class="btn btn-primary" ng-click="submit()"><i class="fa fa-copy" aria-hidden="true"></i> {{transClone}}</button>
</div>