a:focus {
    color: #fff;
}

.sk-circle .sk-child:before {
    background-color: #f96d10!important;
}

.tree-menu li:hover>a {
    color: #f96d10;
}

.title-left {
    background: #f96d10;
    height: 51px;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.1);
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 0px;
    color: #fff;
    padding: 0 15px;
    line-height: 51px;
    font-weight: inherit;
    text-transform: uppercase;
}

.option5 .product-featured .sub-category-list {
	width: 100%;
    padding: 15px 15px;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.1);
}

.col-sm-2.sub-category-wapper {
	padding-right: 0;
}

.col-sm-10.col-right-tab {
	padding-left: 0;
	margin-bottom: 15px;
}

.product-featured-tab-content .nav.navbar-nav li {
    background: #fff;
    border-bottom: 3px solid #00a360;
    margin: 0 15px;
    padding: 5px 0;
    /*width: calc(100% - 30px);*/
}

.product-featured-tab-content .nav.navbar-nav li a {
	padding-left: 0;
	text-transform: uppercase;
	font-weight: 600;
	color: #333;
}

.product-featured-tab-content .box-right {
	margin-bottom: 30px;
}

.product-featured-tab-content .nav.navbar-nav li a:focus, .product-featured-tab-content .nav.navbar-nav li a:hover {
	text-decoration: none;
	background-color: inherit;
	color: initial;
}

.add-to-cart {
    background-color: rgb(249, 109, 16)!important;
}

.add-to-cart:hover, .option5 #main-menu .navbar .navbar-nav>li:hover{
    background-color: #ff5722!important;
}

.container-product {
    margin: 0;
    border: 1px solid #eaeaea;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/
}

.product-list li .right-block {
    padding: 5px 5px;
    margin-top: 10px;
    font-size: 13px;
}

.col-sm-2.sub-category-wapper {
    width: 18.666667%;
}

.col-sm-10.col-right-tab {
    width: 81.333333%;
}

.col-sm-2.sub-category-wapper {
    display: block;
}

.tab-container .tab-panel {
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.1);
}

.option5 .product-featured .product-list li:hover .container-product {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cart-name {
    display: none;
}

@media (max-width: 767px) {
    .col-sm-2.sub-category-wapper {
        width: 18.666667%;
    }

    .col-sm-10.col-right-tab {
        width: 100%;
    }
    .content-page .navbar-nav {
        margin: 0;
    }

    .product-featured-tab-content .nav.navbar-nav li a {
        /*padding-left: 10px;*/
        width: calc(100% - 10px);
        padding-left: 5px;
    }

    .container-product {
        /*box-shadow: none;*/
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
    }

    .tab-container .tab-panel {
        background: inherit;
        box-shadow: none;
        width: 100%;
    }

    .title-left {
        height: 40px;
        line-height: 40px;
    }

    .col-sm-9.col-right-tab {
        padding: 0;
    }

    .navbar.navbar-default {
        display: none;
    }

    .page-heading span.page-heading-title {
        padding: 0;
    }
}

@media (width: 768px) {
    .col-sm-3.sub-category-wapper {
        padding-right: 0;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .box-authentication {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0;
    }
}


@media (max-width: 1024px) {
    .option5 .add-to-cart {
        bottom: 0!important;
    }

    .product-list li .old-price {
        text-decoration: line-through;
        margin-left: 10px;
        font-size: 10px;
        color: #666;
    }
    .product-list li .product-price {
        line-height: 13px;
        font-size: 10px;
    }

    .product-list li .product-name {
        font-size: 10px;
    }

    .product-list li .right-block {
        padding: 10px 5px;
    }

    .product-list li .add-to-cart a {
        padding-left: 35px;
        font-size: 10px;
    }

    .product-list li .add-to-cart {
        line-height: 40px;
    }

    .product-featured-tab-content .box-right {
        margin-bottom: 0;
    }

    .product-list li .right-block {
        padding: 0 5px;
    }

    .view-product-list .product-list.grid {
        margin-top: -10px;
        padding: 10px;
    }

    .product-list li {
        padding: 5px;
    }

    .page-heading {
        border-bottom: 0;
    }

    .product-list.grid li {
        margin: 0;
    }

    .product-list .product-container {
        padding-bottom: 0;
    }

    .center_column {
        margin-top: 0;
    }

    #columns {
        padding-bottom: 0;
    }

    .sortPagiBar {
        display: none;
    }

    .main-header .header-search-box .form-inline .input-serach input {
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    #center_column {
        margin-top: 10px;
    }

    .cart_summary img {
        max-width: 50px;
    }

    .box-border {
        padding:  0;
        border: none;
    }

    .cart_description {
        display: none;
    }

    .cart-name {
        display: block;
    }

    .group-button-header {
        margin-top: 55px;
    }

    .log-out {
        /*float: left;*/
        margin: auto 10px;
    }

    #cart-block {
        display: none;
    }

    .user-name {
        text-align: center;
    }

    .login-info {
        text-align: inherit!important;
    }

    .group-button-header .col-md-10 {
        text-align: center;
    }

    .box-authentication {
        margin: 0 15px 30px 15px;
    }

    .page-content {
        margin-top: 0;
    }

    .col-right-tab {
        padding: 0;
    }

    .product-featured-tab-content .nav.navbar-nav li {
        padding: 5px 5px;
    }

    table.shop_table_responsive thead {
        display: none;
    }

    .woocommerce table.shop_table_responsive tr, table.shop_table_responsive tr {
        display: block;
    }

    .woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, table.shop_table_responsive tbody tr:first-child td:first-child {
        border-top: 0;
    }

    .woocommerce table.shop_table_responsive tr td, table.shop_table_responsive tr td {
        display: block;
        text-align: right!important;
    }

    .woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th {
        padding: 4px 8px;
        vertical-align: middle;
    }

    .woocommerce table.shop_table_responsive tr td:before, table.shop_table_responsive tr td:before {
        content: attr(data-title) "";
        font-weight: 700;
        float: left;
    }

    .woocommerce table.shop_table td {
        border-top: 1px solid rgba(0,0,0,.1);
        padding: 6px 12px;
        vertical-align: middle;
    }

    .woocommerce table.my_account_orders tr td.order-actions .button, table.my_account_orders tr td.order-actions .button {
        float: none;
        margin: .125em .25em .125em 0;
    }

    .woocommerce table.shop_table_responsive tr td.order-actions, table.shop_table_responsive tr td.order-actions {
        text-align: left!important;
    }

    .main-header {
        padding-bottom: 15px;
    }

    #cart-header {
        display: block!important;
    }
}

@media (min-width: 1024px) {
    .col-right-tab {
        padding: 0;
    }

    .bx-viewport, #contenhomeslider li {
        height: 350px!important;
    }

    .woocommerce table.shop_table {
        border: initial!important;
    }

    .table>thead>tr>th {
        border: initial!important;
        font-weight: bold;
    }

    .table>tbody>tr>td {
        padding: 5px 10px;
        line-height: 30px;
    }

    .box-authentication {
        margin: 0 auto 30px auto;
        width: 50%;
    }

    .tab-container .tab-panel {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}

.custom-notify {
    background-color: #fff!important;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: auto;
    min-width: 250px;
    padding: 10px 30px 10px 10px;
    color: #000!important;
}

.cart-block .cart-block-content  .product-info .p-left .remove_link .glyphicon {
    position: absolute;
    right: 0;
    top: 5px;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.woocommerce table.my_account_orders {
    font-size: .85em;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td, table.shop_table_responsive tr:nth-child(2n) td {
    background-color: rgba(0,0,0,.025);
}

.woocommerce table.my_account_orders .button {
    white-space: nowrap;
}

.woocommerce a.button {
    display: inline-block;
    background: #0b9444;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    padding: .8em 1em;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

h4.user-name {
    line-height: 40px;
    font-size: 13px;
    color: #f96d10;
    text-transform: uppercase;
}

.login-info {
    margin-top: -25px;
    text-align: right;
    text-transform: uppercase;
}

.log-out, .log-in {
    line-height: 35px;
    padding-left: 15px;
    text-transform: uppercase;
}

#cart-header {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    float: right;
    font-weight: normal;
    text-transform: none;
    position: absolute;
    height: 35px;
    top: 14px;
    right: 15px;
    /*display: none;*/
}

#cart-header.cart-header-sticky {
    position: fixed;
    transition: all .3s;
    top: 50%;
    z-index: 999;
    right: 5px;
}

#cart-header.cart-header-sticky .button {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

#cart-header .button {
    color: #fff;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    font-size: 13px;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    text-transform: none;
    margin-top: 0;
}

.woocommerce a.button.button--alt, .button--alt {
    background: #5bb85b;
}

.mini-cart-counter {
    display: inline-block;
    background: #f60;
    padding: 5px;
    line-height: 1;
    border-radius: 3px;
    margin-top: 5px;
}

.button:hover {
    background: #f96d10;
}

.product-list li .quick-view {
    top: 3%;
}

.product-list li .quick-view a.search {
    margin-left: 0;
    background: rgb(91, 184, 91);
}

.product-list li .quick-view a.search:hover, .option5 .category-featured.fashion .product-list li .quick-view a.search:hover {
    background: rgb(91, 184, 91);
}

.product-list li .quick-view a.search:before {
    content: "\f201";
}

#product .pb-right-column .product-price-group .fluctuation {
    background: #5bb85b;
    color: #fff;
    padding: 0 15px;
    text-align: center;
    line-height: inherit;
    margin-right: 0;
    height: 23px;
    line-height: 23px;
}

.box-border a:hover {
    color: #fff;
}