<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Thay đổi hình đại diện</h4>
</div>
<div class="modal-body modal-change-avatar">
    <div class="cropArea">
        <img-crop area-type="square" class="img-crop" image="myImage" result-image="myCroppedImage"></img-crop>
    </div>
</div>
<div class="modal-footer">
	<div class="center-block">
        <button type="button" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Thoát</button>
        <button type="button" class="btn btn-primary" ng-click="changeAvatar()"><span class="glyphicon glyphicon-retweet"></span> Thay đổi</button>
     </div>
</div>