<div class="pagination-row">
    <div class="pgn-rw col-md-12" ng-if="totalItems > 0" style="padding: 0">
        <div class="col-md-6" style="padding: 0">
            <ul class="pagination">
                <li class="{{itemsPerPage == 15 ? 'active' : ''}}"><a href="javascript:void(0)" ng-click="setPageOptions(null, 15)">15</a></li>
                <li class="{{itemsPerPage == 25 ? 'active' : ''}}"><a href="javascript:void(0)" ng-click="setPageOptions(null, 25)">25</a></li>
                <li class="{{itemsPerPage == 50 ? 'active' : ''}}"><a href="javascript:void(0)" ng-click="setPageOptions(null, 50)">50</a></li>
                <li class="{{itemsPerPage == 100 ? 'active' : ''}}"><a href="javascript:void(0)" ng-click="setPageOptions(null, 100)">100</a></li>
            </ul>
            <ul class="pagination total-item">
                <li class="previous ng-scope">
                    <a href="javascript:void(0)" class="ng-binding">{{transItemsPerPage}}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-6" style="padding: 0;">
            <ul class="pagination pull-right">
                <li class="previous" ng-if="currentPage > 1"><a href="javascript:void(0)" ng-click="setPageOptions(1, null)">&larr; {{transFirst}}</a></li>
                <li ng-if="currentPage > 1"><a href="javascript:void(0)" ng-click="setPageOptions(currentPage - 1, null)">&laquo;</a></li>

                <li ng-repeat="n in [] | range:totalPages">
                    <a href="javascript:void(0)" ng-if="(($index+1) == currentPage - 5) || (($index+1) == currentPage + 5)">...</a>
                    <a href="javascript:void(0)" ng-if="(($index+1) > currentPage - 5) && (($index+1) < currentPage + 5)" 
                       ng-class="($index+1 == currentPage) ? 'active' : ''"
                       ng-click="setPageOptions($index+1, null)">
                       {{$index+1}}
                    </a>
                </li>

                <li ng-if="currentPage < totalPages"><a href="javascript:void(0)" ng-click="setPageOptions(currentPage + 1, null)">&raquo;</a></li>
                <li class="next" ng-if="currentPage < totalPages"><a href="javascript:void(0)" ng-click="setPageOptions(totalPages, null)">{{transLast}} &rarr;</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="pgn-rw-none" ng-if="totalItems == 0">No item</div>
</div>